<div class="container mt-5">
  <h1 class="display-4 text-center mb-4">Forgot Password</h1>
  <form id="forgotPasswordForm">
    <div class="form-group">
      <label for="email">Email address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        required
      />
    </div>
    <button type="submit" class="btn btn-primary">Send Reset Link</button>
  </form>
</div>
<script>
document.getElementById('forgotPasswordForm').addEventListener('submit', async function(event) {
  event.preventDefault();
  const emailInput = document.getElementById('email');
  const email = emailInput.value;
  const response = await fetch('/api/password/request-reset', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({ email })
  });
  const result = await response.json();
  if (response.ok) {
    Swal.fire({
    text: `Reset link sent to your email`,
    toast: true,
    position: "top-right",
    timer: 2000,
    showConfirmButton: false,
  });
  emailInput.value = ''
  } else {
    Swal.fire({
    title: "Error",
    text: `${result.error}`,
    toast: true,
    position: "top-right",
    timer: 5000,
    timerProgressBar: true,
    });
  }
});
</script>
